table {
    margin-top: 10px;
    width: 100%;
    margin-bottom: 20px;
    border: ridge;
}

td {
    text-align: left;
}
.form-errors
{
    color: red;
}
.panel-heading
{
    background-color: #31b0d5;
}